@using bugTracker.Core.DTO.ViewModels;
@model BugViewModel
@{
    ViewData["Title"] = "Bug Detail Page";
}
<div class="row">
    <div class="col-md-12">
        <h3>Details for Bug ID #@Model.Id</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2"><label>Title:</label></div>
            <div class="col-md-4">@Model.Title</div>
            <div class="col-md-2"><label>Date created:</label></div>
            <div class="col-md-4">@Model.Created.ToShortDateString()</div>
        </div>
        <div class="row">
            <div class="col-md-2"><label>Status</label></div>
            <div class="col-md-4">@Model.Status</div>
            <div class="col-md-2"><label>Assigned User:</label></div>
            <div class="col-md-4">@Model.AssignedUser?.Username</div>
        </div>
    </div>
</div>
